@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600&family=Poppins:wght@400;500;600;700&display=swap');


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: white;
  background: rgb(7, 66, 82);
  background: linear-gradient(45deg, rgba(7, 66, 82, 1) 0%, rgba(26, 23, 60, 1) 50%, rgba(21, 16, 28, 1) 100%);
}